**/sbatch_logs/
**/checkpoints/
**/wandb/
**/output/
**/verl_demo*.log
**/.cache/
**/__pycache__/
/oat_dataset_test/finemath_finemath-4plus_train_all.json
**/outputs/
eval/eval_results_json/
verl_test/data/
**/embedding_data/
oat_dataset_test/data/finemath.jsonl
**/rouge/
**/meteor/
**/jaccard/
**/dice/
**/bleu/
**/hamming/
**/debug_scripts/
**/rouge_analysis.py
**/responses_generation/
**/posthoc_generation/
**/verl_old_scripts/
**/results/
# Ignore local backup of previous .git
.git.broken-*

# Large local artifacts
checkpoints/
outputs/
runs/
wandb/
logs/
leaderboard/
old/
**/*_temp.sh
**/aime_summary.json
**/aime.sh
**/bon_out_*/
**/summary_plots/

